<body>
<style>
    body {
        margin: 0;
        padding: 0; }

    table {
        border-spacing: 0; }

    .item-content {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        background: #dfdfc8;
        background: #C2C097;
        line-height: 24px;
        padding: 16px 0; }

    .item-content a {
        color: #4b4b2f; }

    .item-content p {
        padding: 0 16px; }

    .item-content .item-details p {
        padding: 0;
        margin: 0; }

    .item-content .top-margin {
        margin-top: 16px; }

    .item-content .info-block {
        margin: 16px;
        background: #E3E2CF;
        box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        overflow: hidden; }

    .item-content .info-block p {
        margin: 16px 0;
    }

    .item-content .info-block .no-paragraph-margin p {
        margin: 0;
    }

    .item-content .info-block.no-top-margin {
        margin-top: 0; }

    .item-content .info-block.no-bottom-margin {
        margin-bottom: 0; }

    .item-content .no-top-padding {
        padding-top: 0; }

    .item-content .category-bg {
        background: #e8e8d8; }

    .item-content h1 {
        margin-left: 16px;
        font-size: 20px; }

    .item-content h3 {
        color: #a44103;
        background: #f1f1e7;
        /*	border-bottom: 1px solid #BDBCA4; */
        border-top-left-radius: 6px;
        border-top-right-radius: 6px; }

    .item-content h3 {
        font-size: 24px;
        line-height: 30px; }

    .item-content h2 {
        color: #a44103; }

    .item-content h2, .item-content h3, .item-content h4, .item-content h5 {
        padding: 8px 16px;
        margin: 0; }

    .item-content h4 {
        color: #a44103;
        font-weight: 400;
        font-size: 20px; }

    .item-content h5 {
        color: #4b4b2f;
        font-size: 16px; }

    .item-content ul {
        padding: 0;
        margin: 0;
        list-style: none; }

    .item-content em {
        font-size: 14px; }

    .item-content .item-details {
        padding-bottom: 16px;
        padding-top: 16px; }

    .horiz-margin {
        margin-left: 16px;
        margin-right: 16px; }

    .item-content ul.categories li {
        float: left;
        width: 33.3%;
        min-width: 150px; }

    .item-content ul.categories li a {
        background-color: #e8e8d8;
        display: block;
        padding: 8px 16px;
        border-color: #f1f1e7;
        border-color: rgba(255, 255, 255, 0.2) rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.05) rgba(255, 255, 255, 0.2);
        border-style: solid;
        border-width: 1px;
    }

    .item-content ul.categories li a:hover {
        background: #99ae6e;
        color: #f3f3eb; }

    .item-content ul.categories li a.no-bottom-border {
        border-bottom: 0; }

    .item-content ul.categories li:nth-child(3n+3) a {
        border-right: 0 none; }

    .item-content .price-text {
        color: #a44103; }

    .item-content .tbl {
        margin: 0 16px 16px 16px;
        border-collapse: collapse; }

    .item-content .tbl th {
        padding: 8px;
        text-align: left;
        background: #D9D7BC;
        color: #4b4b2f;
        font-weight: 400; }

    .item-content .tbl td {
        padding: 8px;
        background-color: #e8e8d8;
        border-bottom: 1px solid #d5d5cb;
        border-right: 1px solid rgba(0, 0, 0, 0.1); }

    .item-content .tbl td:last-child {
        border-right: 0 none; }

    .item-content .tbl.grading {
        margin-top: 16px; }

    .clear {
        clear: both; }

    @media screen and (max-width: 500px) {
        .item-content .tbl.grading th {
            display: none; }

        .item-content .tbl.grading td {
            border: none; }

        .item-content .tbl.grading td {
            display: inline-block; }

        .item-content .tbl.grading tr {
            background: #e8e8d8; }

        .item-content .tbl.grading td:nth-child(3) {
            background: #dfdfc8; }

        .item-content .tbl.grading td:last-child {
            display: block; }

        .item-content .tbl.grading tr:last-child {
            border-bottom: none; }

        .item-content .categories-block {
            display: none; }
    }

</style>

<div class="item-content">
    <div class="info-block no-top-margin">
        <h3>Item Details</h3>
        <div class="item-details">
            <h4 class="no-top-padding">{{ artist }}<br>{{ title }}</h4>
            <div class="horiz-margin no-paragraph-margin">
                <p><strong>Label:</strong> {{ label }} {{ catalogNo }}</p>
                <p><strong>Format:</strong> {{ format }}</p>
                {{#each condition}}
                <p><strong>{{ this.subject }} Condition:</strong> {{ this.grade }}
                    {{#if this.notes}}
                    <span>{{ this.notes}}</span>
                    {{/if}}</p>
                {{/each}}
                <p><strong>Genre:</strong> {{ genre }}</p>
                {{#if notes}}<p><strong>Notes:</strong> {{ notes }}</p>{{/if}}
                {{#each pressing}}
                <p><strong>{{@key}}:</strong> {{this}}</p>
                {{/each}}
                {{#if attributes}}<p><strong>Attributes:</strong> {{ attributes }}</p>{{/if}}
                {{#if additions}}<p><strong>Additions:</strong> {{ additions }}</p>{{/if}}
                <p><strong>Price:</strong> ${{ price }}</p>
                {{#each soundclips}}
                <br/>
                <audio controls>
                    <source src="{{ this.url }}" type="audio/mpeg">
                    {{#if this.note}}
                    <p>{{ this.note }}</p>
                    {{else}}
                    <p>Listen to MP3 soundclip</p>
                    {{/if}}
                </audio>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="info-block">
        <h3>Shipping Info</h3>
        <p>All orders are processed and shipped within 2 business days of receipt. We package and ship our vinyl records with the greatest care, using extra-thick packaging to ensure that your rare and collectible vinyl records arrive in pristine condition.</p>

        <h4>Domestic Shipments</h4>

        <table class="tbl">
            <tr>
                <th colspan="2">USPS Priority Mail or First Class where applicable</th>
            </tr>
            <tr>
                <td>LP Only Shipments</td>
                <td><strong>$11</strong> for 1st LP + <strong>$2</strong> each additional LP</td>
            </tr>
            <tr>
                <td>45 Only Shipments</td>
                <td><strong>$4.00</strong> for 1st 45 + <strong>$0.50</strong> each additional 45</td>
            </tr>
            <tr>
                <td>Mixed Shipments</td>
                <td><strong>$11</strong> for 1st LP + <strong>$2</strong> each additional LP / <strong>$0.50</strong> each additional 45</td>
            </tr>
        </table>

        <table class="tbl">
            <tr>
                <th colspan="2">USPS Media Mail</th>
            </tr>
            <tr>
                <td>LP Only Shipments</td>
                <td><strong>$4</strong> for 1st LP + <strong>$1</strong> each additional LP</td>
            </tr>
            <tr>
                <td>Mixed Shipments</td>
                <td><strong>$4</strong> for 1st LP + <strong>$1</strong> each additional LP / <strong>$0.25</strong> each additional 45</td>
            </tr>
        </table>

        <p><em>Note: All domestic shipments are insured.</em></p>

        <h4>International Shipments</h4>

        <table class="tbl">
            <tr>
                <th colspan="2">Air Mail</th>
            </tr>
            <tr>
                <td>LP Only Shipments</td>
                <td><strong>$19</strong> for 1st LP + <strong>$6</strong> each additional LP</td>
            </tr>
            <tr>
                <td>45 Only Shipments</td>
                <td><strong>$12.50</strong> for 1st 45 + <strong>$0.50</strong> each additional 45</td>
            </tr>
            <tr>
                <td>Mixed Shipments</td>
                <td><strong>$19</strong> for 1st LP + <strong>$6</strong> each additional LP / <strong>$0.50</strong> each additional 45</td>
            </tr>
        </table>

        <p><em>Note: Double LPs, box sets, etc. will incur additional shipping costs as indicated above.</em></p>
    </div>

    <div class="info-block">
        <h3>Record Grading</h3>
        <table class="tbl grading">
            <tr>
                <th colspan="2">Grade</th>
                <th>Explanation</th>
            </tr>
            <tr>
                <td><strong>SS</strong></td>
                <td>Still Sealed</td>
                <td>In factory-fresh condition.</td>
            </tr>
            <tr>
                <td><strong>M</strong></td>
                <td>Mint</td>
                <td>We don't use this grade.</td>
            </tr>
            <tr>
                <td><strong>M-</strong></td>
                <td>Mint Minus</td>
                <td>A near perfect, probably unplayed record.</td>
            </tr>
            <tr>
                <td><strong>VG+</strong></td>
                <td>Very Good Plus</td>
                <td>Close to like new with only superficial signs of use that don't affect play. Only well cared for records will grade out to VG+. Will satisfy all but the most demanding collector.</td>
            </tr>
            <tr>
                <td><strong>VG</strong></td>
                <td>Very Good</td>
                <td>A used, reasonable copy. There will be obvious signs of wear and the possibility of light surface noise between tracks or during quiet passages, but still quite nice.</td>
            </tr>
            <tr>
                <td><strong>VG-</strong></td>
                <td>Very Good Minus</td>
                <td>Significant wear and marks and usually quite noticeable surface noise.</td>
            </tr>
            <tr>
                <td><strong>G+</strong></td>
                <td>Good Plus</td>
                <td>In the record world, 'Good' is not good! From here on down (Fair, Poor), we're talking about beat-up records.</td>
            </tr>
        </table>

        <p><em>* Unless noted, every record is an original issue for the label and catalog number.</em></p>
    </div>

    <div class="info-block">
        <h3>About Us</h3>
        <p><strong>Records By Mail</strong> offers one of the most comprehensive selections of vinyl LPs and 45s available anywhere. Housed in an 8,000 square foot warehouse that currently holds over 2 million records, Craig and his talented, dedicated staff serve music lovers in more than 60 countries. Records by Mail prides itself on maintaining one of the largest selections of rare vinyl records available anywhere&mdash;online or off. We are always looking to improve the quality of our service, and we update our database every day, so expect new titles and improvements with alarming frequency.</p>
    </div>

    <div class="info-block category-bg categories-block">
        <h3>Browse Categories</h3>
        <ul class="categories">
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Rock-Pop-/_i.html?_fsub=16&_sid=5606007">Rock &amp; Pop</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Soul-/_i.html?_fsub=17&_sid=5606007">Soul</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Blues-R-B-/_i.html?_fsub=3&_sid=5606007">Blues &amp; R&amp;B</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Oldies-/_i.html?_fsub=12&_sid=5606007">Oldies</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Jazz-/_i.html?_fsub=10&_sid=5606007">Jazz</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Funk-/_i.html?_fsub=8&_sid=5606007">Funk</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Vocal-Groups-/_i.html?_fsub=20&_sid=5606007">Vocal Groups</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Rockabilly-/_i.html?_fsub=11768394017&_sid=5606007">Rockabilly</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Country-/_i.html?_fsub=5&_sid=5606007">Country</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Vocalists-/_i.html?_fsub=852581017&_sid=5606007">Vocalists</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Brazilian-/_i.html?_fsub=11768410017&_sid=5606007">Brazilian</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Punk-New-Wave-/_i.html?_fsub=13&_sid=5606007">Punk/New Wave</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Easy-Listening-/_i.html?_fsub=6&_sid=5606007">Easy Listening</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Soundtrack-Cast-/_i.html?_fsub=18&_sid=5606007">Soundtracks</a></li>
            <li><a href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Reggae-/_i.html?_fsub=15&_sid=5606007">Reggae</a></li>
            <li><a class="no-bottom-border" href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Black-Gospel-/_i.html?_fsub=2&_sid=5606007">Black Gospel</a></li>
            <li><a class="no-bottom-border" href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Rap-Hip-Hop-/_i.html?_fsub=14&_sid=5606007">Rap/Hip-Hop</a></li>
            <li><a class="no-bottom-border" href="http://stores.ebay.com/Craig-Moerer-Records-By-Mail/Latin-/_i.html?_fsub=11768411017&_sid=5606007">Latin</a></li>
        </ul>
    </div>

    <div class="clear"></div>
    <div class="info-block no-bottom-margin">
        <h3>Our Guarantee</h3>
        <p>We guarantee every item we sell to be as listed. We endeavor to provide superior service, but if we make an error, we'll make every effort to make it right either by refunding all costs involved, or adjusting the selling price to everyone's satisfaction.</p>
    </div>
</div>
</div>


</body>