<div class="item-details">
    <h4 class="no-top-padding">{{ artist }}<br>{{ title }}</h4>
    <div class="horiz-margin">
        <p><strong>Label:</strong> {{ label }} {{ catalogNo }}</p>
        <p><strong>Format:</strong> {{ format }}</p>
        {{#each condition}}
        <p><strong>{{ this.type }} Condition:</strong> {{ this.name }}
            {{#if this.text}}
            <span>{{ this.text}}</span>
            {{/if}}</p>
        {{/each}}
        <p><strong>Genre:</strong> {{ genre }}</p>
        {{#if notes}}<p><strong>Notes:</strong> {{ notes }}</p>{{/if}}
        {{#each pressing}}
        <p><strong>{{@key}}:</strong> {{this}}</p>
        {{/each}}
        {{#if attributes}}<p><strong>Attributes:</strong> {{ attributes }}</p>{{/if}}
        {{#if additions}}<p><strong>Additions:</strong> {{ additions }}</p>{{/if}}
        <p><strong>Price:</strong> ${{ price }}</p>
        {{#each soundclips}}
        <br/>
        <audio controls>
            <source src="{{ this.url }}" type="audio/mpeg">
            {{#if this.note}}
            <p>{{ this.note }}</p>
            {{else}}
            <p>Listen to MP3 soundclip</p>
            {{/if}}
        </audio>
        {{/each}}
    </div>
</div>